
.login-home-btn-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}
.login-home-btn {
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    background: #d995bdff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-mode-btns {
    text-align: center;
    margin-bottom: 10px;
}
.login-mode-btn {
    padding: 8px 16px;
    margin: 0 5px;
    font-family: 'Times New Roman', Times, serif;
    background: #bad5ce;
    color: #111;
    border: 1px solid #d995bdff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.login-mode-btn:disabled {
    background: #d995bdff;
    color: white;
    cursor: not-allowed;
}
.login-error-msg {
    color: red;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}
/* 
    gap: 30px; 
    margin: 60px auto; 
    */ 

.container{ 
    display: flex; 
    flex-direction: column;
    margin: auto; 
    margin-top: 00px; 
    width: 650px; 
    height: 650px;
    background: #bad5ce;
    padding-bottom: 30px; 
}

.header{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    width: 100%; 
    margin-top: 30px;
}

.text{ 
    color: #111; 
    font-size: 48px;
    font-weight: 700;
}

.underline{ 
    width: 61px; 
    height: 6px; 
    background: #111; 
    border-radius: 9px;
    margin-bottom: 15px;

}

.inputs{ 
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px; 
}

.input{ 
    display: flex;
    align-items: center;
    margin: auto; 
    width: 480px;
    height: 80px; 
    background: #fff;
    border-radius: 6px;
}

.input img{ 
    margin: 0px 30px; 
}

.nameInput{ 
    display: flex;
    align-items: center;
    margin: auto; 
    width: 480px;
    height: 80px; 
    background: #fff;
    border-radius: 6px;
}

.lastnameInput{ 
    display: flex;
    align-items: center;
    margin: auto; 
    width: 480px;
    height: 80px; 
    background: #fff;
    border-radius: 6px;
}

.usernameInput{ 
    display: flex;
    align-items: center;
    margin: auto; 
    width: 480px;
    height: 80px; 
    background: #fff;
    border-radius: 6px;
}

.emailInput{ 
    display: flex;
    align-items: center;
    margin: auto; 
    width: 480px;
    height: 80px; 
    background: #fff;
    border-radius: 6px;
}
.passwordInput{ 
    display: flex;
    align-items: center;
    margin: auto; 
    width: 480px;
    height: 80px; 
    background: #fff;
    border-radius: 6px;
}

.input input{ 
    height: 50px;
    width: 400px; 
    background: transparent;
    border: none; 
    outline: none;
    color: #797979; 
    font-size: 19px;
}

.nameInput input{ 
    height: 50px;
    width: 400px; 
    background: transparent;
    border: none; 
    outline: none;
    color: #797979; 
    font-size: 19px;
}

.emailInput input{ 
    height: 50px;
    width: 400px; 
    background: transparent;
    border: none; 
    outline: none;
    color: #797979; 
    font-size: 19px;
}

.passwordInput input{ 
    height: 50px;
    width: 400px; 
    background: transparent;
    border: none; 
    outline: none;
    color: #797979; 
    font-size: 19px;
}

.forgotPassword{
    padding-left: 62px;
    margin-top: 67px;
    color: #797979; 
    font-size: 18px;
} 

.forgotPassword span{
    color: #4c00b4; 
    cursor: pointer; 
}

.submitContainer{ 
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.submit { 
    color: #4c00b4; 
    cursor: pointer;
}

.changePageContainer{ 
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 220px; 
    height: 59px; 
    color: #ffff; 
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;

    gap: 30px; 
    margin: 60px auto; 
    
}

.submitLogin{ 
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 220px; 
    height: 59px; 
    color: #ffff; 
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{ 
    background: #eaeaea; 
    color: #676767; 
}

.noAccount{
    padding-left: 62px;
    margin-top: 20px;
    color: #797979; 
    font-size: 18px;
} 

.noAccount span{
    color: #4c00b4; 
    cursor: pointer; 
}