/* Global reset and styling */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background: #c7dbef;
  color: #333;
}
